.advertisement {
  margin-bottom: 30px;
}

.advertisement .section-title {
  margin-bottom: 20px;
  border-left: 5px solid #f5390a;
  padding-left: 12px;
}

.advertisement .section-title h2 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.advertisement-box {
  width: 100%;
  min-height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.advertisement-box p {
  margin: 0;
  color: #777;
  font-size: 14px;
  text-transform: uppercase;
}